<app-control-panel (onSearch)="filterBy($event)"></app-control-panel>

<div *ngIf="courses.length; then courseList else noData"></div>

<ng-template #courseList>
  <app-course-item *ngFor="let item of ( courses | orderBy : 'creationDate')" 
    [item]="item"
    (onDelete)="deleteById($event)">
  </app-course-item>
  <button (click)="onLoadMore()" class="load-more-btn" type="button">Load More</button>
</ng-template>

<ng-template #noData>
  <p class="no-data-msg">
    <span class="no-data-msg__content">No data. Feel free to add new course</span>
  </p>
</ng-template>
