<mat-form-field appearance="outline">
  <mat-chip-list #chipList>
    <mat-chip
      class="mat-basic-chip"
      *ngFor="let author of (selectedAuthors || [])"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(author)">
      {{author.fullName}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      #authorsInput
      [formControl]="authorsCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let author of (allAuthors.length > 0 ? (filteredAuthors | async) : [])" [value]="author">
      {{author.fullName}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
