<article class="course-item">
  <div class="course-item__content-wrapper">
    <header class="course-item__header">
      <h2 class="course-item__title">{{item.title}}</h2>
      <div class="course-item__params">
        <span class="course-item__duration">{{formattedDuration}}</span>
        <span class="course-item__date">{{item.creationDate | date:'MM.dd.yyyy'}}</span>
      </div>
    </header>
    <p class="course-item__desc">{{item.description}}</p>
  </div>
  <div class="course-item__controls">
    <button class="course-item__btn">Edit</button>
    <button (click)="click()" class="course-item__btn course-item__btn--delete">Delete</button>
  </div>
</article>