<section class="login-form">
  <h1 class="login-form__title">Login</h1>
  <div class="login-form__body">
    <div class="form-field">
      <label for="email">Email: *Required</label>
      <input [(ngModel)]="login" type="text" class="login-form__input" id="email" placeholder="Please enter email">
    </div>
    <div class="form-field">
      <label for="pwd">Password: *Required</label>
      <input [(ngModel)]="pwd" type="password" class="login-form__input" id="pwd" placeholder="Please enter password">
    </div>
    <button (click)="onLogin()" class="login-form__btn" type="button">Login</button>
  </div>
</section>